body{
    margin: 0px;
}
.first{
    background: url("../img/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*height: 60%;*/
}

.head{
    margin-left: 72px;
    margin-top: -5px;
    width: 90px;
    height: 129px;
    background-color: #f9b400;
}

.star{
    padding-left: 15px;
    padding-top:50px;
    width: 52.3px;
    height: 50px;
    /*background-image: url("../img/shape-copy.png");*/
}

.login{
    float: right;
    color: white;
    /*position: fixed;*/
    margin-top: -80px;
    margin-right: 40px;
}

.logo{
    margin: 70px auto;
    width: 368px;
    text-align: center;
}
.logo img{
    width: 80%;
}

.tagline{
    font-family: 'Roboto', sans-serif;
    margin:-60px auto;
    width: 725px;
    color: white;
    font-size: 40px;
}

.tagline-content{

}

.bold-tag{
    font-size: 60px;
    font-weight: 600;
}

.download{
    margin-top: 150px;
    text-align: center;
    padding-bottom: 50px;
}

.line{
    height: 5px;
    width: 100%;
    background-color: #f9b400;
    margin-bottom: 60px;
}

.second{
    height: 700px;
    background: url("../img/moments.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.button{
    margin: 0 auto;
    width: 247px;
    height: 35px;
    border-radius: 40px;
    background-color: #f9b400;
    color: white;
    padding-top: 10px;
}

.call-for-action{
    padding-top: 180px;
    text-align: center;
}

.footer{
    height: 90px;
    width: 100%;
    background-color: #f9b400;
}
.foot1{
    padding-top: 20px;
    padding-left: 80px;
    width: 20%;
    float: left;
}

.foot2{
    width: 95%;
    padding-top: 20px;
    text-align: right;
}

.foot-menu{
    display: inline-flex;
    list-style-type: none;
}

.foot-menu li{
    margin-left: 20px;
}

 a{
    color: white;
    text-transform: uppercase;
    font-family: roboto;
    text-decoration: none;
}

@media screen and (max-width: 750px){
    .tagline{
        width: 90%;
        font-size: 30px;
        text-align: center;
    }
    .bold-tag{
        font-size: 40px;
    }

    .logo img{
        width: 50%;
    }

    .foot1{
        display: none;

    }

    .foot2{
        width: 90%;
        text-align: center;
    }

    .head{
        margin-left: 15px;
    }
}